.archive__item-date {
  font-size: 0.7em;
  color: #666;
  float: right;
  display: block;
  margin-top: 0.3em;
  margin-bottom: 1.3em;
}

.archive__item-excerpt {
  margin-bottom: 0.5em !important;
}

.comment-count {
  float: left;
  font-size: 0.7em;
  float: left;
  display: block;
  margin-top: 0.3em;
  margin-bottom: 1.3em;
}

.comment-count>a {
  color: #888 ;
}